{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ view_title }}</title>
    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> #}
    {{ default_assets() }}
    {{ CSS_VAR }}
</head>
<body class="{{ BODY_CLASS }}" id="{{ BODY_ID }}" style="{{ BODY_STYLE }}">
{#  Yield the HTML body here #}
{{ include(body) }}
</body>
</html>
{% endspaceless %}